<h1>Editing Supply Portfolio Detail</h1>

<%= render 'form', supply_portfolio_detail: @supply_portfolio_detail %>

<%= link_to 'Show', @supply_portfolio_detail %> |
<%= link_to 'Back', supply_portfolio_details_path %>
