<h1>Editing Affiliation Type Level</h1>

<%= render 'form', affiliation_type_level: @affiliation_type_level %>

<%= link_to 'Show', @affiliation_type_level %> |
<%= link_to 'Back', affiliation_type_levels_path %>
